.cart {
  width: 60%;
  margin-left: 19%;
  background: white;
  padding: 1% 2% 5% 1%;
  border-radius: 25px;
}

.amount {
  display: flex;
  justify-content: space-between;
}
button {
  width: 19%;
  padding: 2%;
  background: chocolate;
  display: flex;
  justify-content: space-between;
  float: right;
}
