.cart {
  width: 95%;
  margin-left: 2%;
  background: white;
  padding: 1% 2% 5% 1%;
  border-radius: 25px;
}

.amount {
  display: flex;
  justify-content: space-between;
}
.button-btn {
  width: 19%;
  padding: 2%;
  text-align: center;
  float: right;
  margin-right: 27%;
  display: flex;
}
